@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    display: grid;
    height: 100%;
    place-items: center;
    background: #000;
}

.btn a {
    position: relative;
    color: #f5f5f5;
    height: 70px;
    width: 220px;
    display: block;
    text-decoration: none;
    background-image: linear-gradient(115deg, #4fcf70, #fad648, #a767a7, #12bcfe, #44ce7b);
    text-align: center;
    border-radius: 10px;
}

.btn a span {
    height: 88%;
    width: 96%;
    background: #111;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 6px;
    line-height: 62px;
    font-size: 25px;
    transform: translate(-50%, -50%);
    color: #f5f5f5;
}

.btn a:hover {
    animation: rotate 0.4s linear infinite;
}

@keyframes rotate {
    100% {
        filter: hue-rotate(-360deg);
    }
}